.layout {
  min-width: 70vw;
  height: 600px;
  max-height: 600px;
  background-color: white;
  overflow: hidden;
  border-radius: 0.3rem;
  margin: 1rem;
  max-width: 600px;
}

.navbar,
.container {
  padding: 1rem 2rem;
}

.navbar {
  background-color: #252525;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navbar .navbar_navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .navbar_navigation li a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: smaller;
}

.navbar .navbar_navigation li a.active {
  color: rgba(255, 255, 255);
}
